{% extends 'base.html.twig' %}

{% block main %}

            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Connexion</h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            <div class="row">
                <div class="col-lg-4">
                       <h4>Pas encore inscrit ?</h4>
                        <em>
                            nous vous invitons à vous inscrire<br />
                            afin de passer votre commande et de manger équilibré.
                        </em>

                 </div>
                <div class="col-lg-4 col-lg-offset-2">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Inscription
                        </div>
                        <div class="panel-body">                       
                        <form role="form">
                            <label>Nom d'utilisateur</label>
                            <input type="text" name="email" id="email">
                            
                            <label>Adresse email</label>
                            <input type="text" name="email" id="email">
                            
                            <label>Mot de passe</label>
                            <input type="text" name="email" id="email">
                            
                            <label>Confirmer</label>
                            <input type="text" name="password" id="password">
                            <br />
                            <button class="btn btn-primary">Inscription</button>
                        </form>
                        </div>
                    </div>
                 </div>
            </div>
            <!-- /.row -->
        
        {% endblock %}

